<form class="modal-body col-md text-center"
      th:action="@{/{id}/delete(id=${user.id})}"
      th:method="DELETE">
  <div class="modal-body col-md">
    <label for="id"><b>ID</b></label>
    <input th:name="id" th:type="text" class="form-control"
           id="id" th:value="${user.id}" disabled/>
    <br>
    <label for="name1"><b>Name</b></label>
    <input th:name="name" th:type="text"
           class="form-control"
           id="name1" th:value="${user.name}" disabled/>
    <br>
    <label for="surname1"><b>Surname</b></label>
    <input th:name="surname" th:type="text"
           class="form-control" id="surname1"
           th:value="${user.surname}" disabled/>
    <br>
    <label for="age1"><b>Mobile Phone</b></label>
    <input th:name="age" th:type="number"
           class="form-control"
           id="age1" th:value="${user.mobilePhone}" disabled/>
    <br>
    <label for="email1"><b>Email</b></label>
    <input th:name="email" th:type="text"
           class="form-control"
           id="email1" th:value="${user.email}" disabled/>
    <br>
    <label for="login1"><b>Login</b></label>
    <input th:name="login" th:type="text"
           class="form-control"
           id="login1" th:value="${user.username}" disabled/>
    <br>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close
    </button>
    <button type="submit" class="btn btn-danger">Delete
    </button>
  </div>
</form>