<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="./style/my.css">
    <title>Spring Security Example</title>
</head>
<body>
<h1>Some kind of h1 headline</h1>
<h2>Some h2 headline:</h2>
<h3>Some h3 content: </h3>
<p>Some content</p>

<table>
    <thead>
    <tr>
        <th>column 1</th>
        <th>column 2</th>
        <th>column 3</th>
        <th>column 4</th>
        <th>column 5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Text 1</td>
        <td>Text 2</td>
        <td>Text 3</td>
        <td>Text 4</td>
        <td><button>Button</button></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<form>
    <label>Text</label>
    <input/>
    <br>
    <label>Text</label>
    <input/>
    <br>
    <label>Text</label>
    <input/>
</form>
</body>
</html>