<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/main :: htmlhead"/>

<body>
<div th:replace="fragments/navigation :: navigation"/>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-item nav-link" th:href="@{/user}">User</a>
                </div>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h1 class="m-3 fw-bold">Admin panel</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link" data-toggle="tab" href="/admin">Users Table</a>
                            <a class="nav-link active" data-toggle="tab">New User</a>
                        </ul>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>Add new user</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md bg-white border">
                            <div th:replace="fragments/create_form"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="layouts/main :: footer"/>
</body>
</html>