<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <h2>User table in the database:</h2>

    <table class="sortable" border="1" width="100%" style="border-collapse: collapse">
        <thead>
        <tr bgcolor="#bfc1f5">
            <th>№</th>
            <th>Role</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone number</th>
            <th>E-mail</th>
            <th> </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.mobilePhone}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{/users/{id}(id=${user.getId()})}">
                <button style="background-color: #F0FFF0">Open</button>
            </a></td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>

<div>
    <a href="/users/new"><button style="background-color: #9ACD32">Add new user</button></a>
</div>
<br/>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>